<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="login()">
    <label for="correo">Correo</label>
    <input
      id="correo"
      type="email"
      [(ngModel)]="correo"
      name="correo"
      required
      placeholder="Ingresa tu correo"
    />

    <label for="password">Contraseña</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="Ingresa tu contraseña"
    />

    <button type="submit">Iniciar Sesión</button>
  </form>
</div>
