<div class="register-container">
    <h2>Regístrate</h2>
    <form (ngSubmit)="register()">
      <label for="nombre">Nombre</label>
      <input id="nombre" [(ngModel)]="user.nombre" name="nombre" required />
  
      <label for="username">Usuario</label>
      <input id="username" [(ngModel)]="user.username" name="username" required />
  
      <label for="correo">Correo</label>
      <input
        id="correo"
        type="email"
        [(ngModel)]="user.correo"
        name="correo"
        required
      />
  
      <label for="contraseña">Contraseña</label>
      <input
        id="contraseña"
        type="password"
        [(ngModel)]="user.contrasena"
        name="contraseña"
        required
      />
  
      <button type="submit">Crear Cuenta</button>
    </form>
  </div>
  